body{
    background-color: #262626;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial;

}

.engine-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.engine-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    
}

.engine-search{
    display: flex;
    flex-direction: row;
    background-color: #2C2C2C;
    width: 450px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.engine-search input{
    width:max-content;
    flex-grow: 1;
    background-color:transparent;
    outline: none;
    border: none;
    color: var(--clr-text);
    text-overflow: ellipsis;
    color: #ffff;
    padding: 0px 15px;
    font-size: 18px;
}

.engine-search span{
   display: inline-flex;
   align-items: center;
   margin-right: 10px;
}
.engine-search span svg{
    fill: #ffff;
    width: 30px;
    height: 30px;
}

.engine-desc{
    color: #ffff;
    margin-bottom: 5rem;
}